{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-13">
            <header class="px-5 p-3">
                <h4 class=" title test-center mt-4">Create new Post</h4>
            </header>
            <div class="mb-3">
                {{ include('post/_form.html.twig') }}
            </div>
            <a href="{{ path('post_index') }}" class="btn btn-primary">back to list</a>
        </div>
    </div>
</div>  
{% endblock %}
